*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-image: url(currency.jpg);
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}
#currency-container{
      width: 400px;
      height: min-content;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
      border-radius: 10px;
      background-color: blueviolet;
}
#currency-container h1{
      text-align: center;
      font-size:2rem;
      font-weight: 600;
      font-style: italic;
      text-decoration: underline;
      text-transform: capitalize;
      margin-bottom: 30px;
      color: #fff;
}
#currency-container #inputcontainer{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      margin: 5px;
      border-radius: 5px;
      background:inherit;
}
#currency-container #inputcontainer input,
#currency-container #inputcontainer select{
      width: 170px;
      padding: 10px;
      font-size: 1.2rem;
      border: none;
      outline: none;
      margin-left: 10px;
      overflow: hidden;
      background:inherit;
      color: #ffffff;
}


#currency-container #inputcontainer:focus-within{
      border-color: blue;
}
#currency-container #inputcontainer #fromCurrency,
#currency-container #inputcontainer #toCurrency{
   font-size: 1.2rem;
   padding: 5px;
   border: none;
   outline: none;
   border-radius: 2px;
}

#arrow{
      margin: 20px 0;
      font-size: 2rem;
}
#result{
      margin-top: 10px;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: 500;
      color: #fff;
}
 